<%= turbo_stream.prepend "profile" do %>
  <%= link_to profile_path(profile) do %>
    <div class="card m-5 p-5">
      <h1><%= profile.name %> <%= profile.surname %></h1>
    </div>
  <% end %>
<% end %>

<turbo-stream action="remove" target="form">
</turbo-stream>
