<h1 class="text-center">Profiles</h1>

<div class="d-flex">
  <div  id="profile" class="card m-3" style="overflow: auto; max-height: 650px;">
    <% @profiles.reverse_each do |profile| %>
      <%= link_to profile_path(profile) do %>
        <div class="card m-5 p-5">
          <h1><%= profile.fullname%></h1>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="p-5 card d-flex  align-items-center justify-content-center mt-3" style="width: 650px;">
    <% if user_signed_in? %>
      <div class="d-flex  align-items-center justify-content-center">
        <%= link_to "+ ADD PROFILE", new_profile_path, data: { turbo_frame: "modal" }, id: "add_profile", class: "btn btn-primary" %>
        <%= turbo_frame_tag "modal" %>
      </div>
    <% else%>
      <div class="position-absolute top-50 start-50 translate-middle">
        <h5>Sign in to add a profile</h5>
      </div>
    <% end %>
  </div>
</div>
